<span>
  <button mat-icon-button (click)="back()">
    <mat-icon>home</mat-icon>
  </button>
</span>
<span *ngFor="let p of paths">
  /
  <button mat-button color="primary" (click)="back(p)">
    {{ p }}
  </button>
</span>

<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> 名称 </th>
    <td mat-cell *matCellDef="let file">
      <button mat-button color="primary" (click)="open(file)">
        {{file.name}}
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> 类型 </th>
    <td mat-cell *matCellDef="let file">
      <mat-icon>{{ file.type ? 'image' : 'folder' }}</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="ca">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> 时间 </th>
    <td mat-cell *matCellDef="let file">
      <span *ngIf="file.type > 0">
        {{file.ca | date:'yyyy-MM-dd HH:mm:ss'}}
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
